
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/*banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}
.btn-primary:hover {
    border: 3px solid black;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/*main style*/
main{
    max-width: 1440px;
    margin: 0 auto;
    
    
}
.teams-container{
    padding: 0px 240px;
    display: flex;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;

}
.teams-img-container img{
    width: 100%;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.text-feat{
    color: #FF900E;
    font-weight: 700;
}








/*responsive media quaries*/
/*mobile devices*/
@media screen and (max-width:576px) {
    header {
        margin: 20px;
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .nav-title{
        font-size: 3rem;
    }
    .teams-container{
        padding: 0px 20px 0px 10px;
        margin-left: 15px;
        display: block;
    }
    .teams-img-container{
      
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
  
    .teams-content{
        padding-left: 20px;
        padding-right: 30px;
    }
}

/*tablet or medium devices*/
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        padding: 0px 30px;
        margin-left: 25px;
        display: block;
    }
    .teams-img-container{
        display: grid;
    }
}