
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/*banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}
.btn-primary:hover {
    border: 3px solid black;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/*main style*/
main{
    max-width: 1440px;
    margin: 0 auto;
    
    
}
.teams-container{
    padding: 0px 240px;
    display: flex;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;

}
.teams-img-container img{
    width: 100%;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.text-feat{
    color: #FF900E;
    font-weight: 700;
}

/*features section*/
.features-section{
    margin: 10px;
    gap: 80px;
    display: flex;
    padding: 50px 150px;
}
.features-content .section-title{
    font-size: 2.5rem;
}
.features-img img{
    margin-top: 100px;
    width: 450px;
    height: 800px;
}

.features-content .card{
    margin: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

/*facts section*/
.facts-secton{
    margin-top: -50px;
    padding: 0px 240px;

}
.facts-secton h5{
    font-size: 2.5rem;
}
.facts-secton .facts-content{
    width: 50%;
    margin-top: -40px;
}
/*awards section*/
.awards-section{
    gap:80px;
    display: flex;
    padding: 0px 240px;
}
.awards{
    border: 1px solid #FF900E;
    border-radius: 10px;
    width: 200px;
    height: 180px;
    text-align: center;
    justify-content: center;

}
.awards img{
    padding-top: 40px ;
}
.awards h5{
   margin-top: 0px;
    font-size:1.8rem;

}
.awards h6{

    font-size: 1.2rem;
    margin-top: -40px;
}

/*sponser section*/
.sponser-section{
    margin-top: 50px;
    padding: 0px 240px;
}
.sponser-content{
  text-align: center;
  justify-content: center;
  width: 500px;
  margin-left: 200px;
}
.sponser-content h1{
    font-size: 2rem;
}
.sponser-company {
    display: flex;
    padding: 40px 120px;
    gap: 70px;
}
 .sponserall img{
    background-color: #d4cbcb;
    padding: 5px;
    border-radius: 10px;
}

/*copyright section*/
.copyright-section{
    padding:20px 120px 150px 120px ;
   
}
.copyright{
    background-color: #FFF4E7;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    
}




/*responsive media quaries*/
/*mobile devices*/
@media screen and (max-width:576px) {
    header {
        margin: 20px;
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .nav-title{
        font-size: 2.5rem;
    }
    .teams-container{
        padding: 0px 15px 0px 0px;
        margin-left: 8px;
        display: block;
    }
    .teams-img-container{
      
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
    }
  
    .teams-content{
        padding-left: 20px;
        padding-right: 30px;
    }
    .features-section{
        margin: 10px;
        gap: 8px;
        display: block;
        padding: 5px 15px;
    }
    .features-content .card{
        margin-left: 5px;
        padding: 5px;
        width: 100%;
    }
    .features-img img{
        margin-top: 30px;
        width: 350px;
        height: 580px;
    }
    .facts-secton{
        margin-top: -50px;
        padding: 0px 20px;
    
    }
    .facts-secton .facts-content{
        width: 100%;
        margin-top: -50px;
    }
    .awards-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2px;
        padding: 0px 0px;
        margin-left: 15px;
    }
    .awards{
        width: 180px;
        height: 180px;
        padding: 0px 0px;
        margin-top: 8px;
    }
    .sponser-section{
        margin-top: 50px;
        padding: 0px 10px;
    }
    .sponser-content{
      text-align: center;
      justify-content: center;
      width: 380px;
      margin-left: 0px;
    }
    .sponser-company {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 2px;
       padding: 2px 50px
    }
    .sponserall img{
       width: 100px;
    }
    .copyright-section{
        padding:10px;
       
    }
    .copyright{
        background-color: #FFF4E7;
        height: 50px;
        text-align: center;
        padding-top: 2px;
        border-radius: 5px;
        margin: 0px 10px;
        
    }
    .copyright-text{
        font-size: 15px;
    }
    

}

/*tablet or medium devices*/
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        padding: 0px 30px;
        margin-left: 25px;
        display: block;
    }
    .teams-img-container{
        display: grid;
    }
    .features-section{
        
        display: block;
    }
    .features-content .card{
        margin-left: 20px;
        padding: 10px;
        width: 100%;
    }
    .features-img img{
        margin-top: 10px;
        padding-left: 60px;
        width: 480px;
        height: 800px;
    }
    .facts-secton .facts-content{
        width: 100%;
        margin-top: -40px;
    }
    .awards-section{
        gap:60px;
        display: flex;
        padding: 0px 180px;
    }
    .awards{
        width: 500px;
        height: 180px;
    }
    .sponser-section{
        margin-top: 50px;
        padding: 0px 40px;
    }
    .sponser-content{
      text-align: center;
      justify-content: center;
      width: 500px;
      margin-left: 130px;
    }
    .sponser-company {
        display: flex;
        padding: 40px 70px;
        gap: 40px;
    }
    .sponserall img{
        width: 100px;
     }
     .copyright-section{
        padding:10px 60px 80px 60px ;
       
    }
    

}